<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ItemEvent</key>
	<array>
		<array>
			<dict>
				<key>value</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>title</key>
				<string>标题</string>
				<key>pushToVC</key>
				<string></string>
			</dict>
			<dict>
				<key>value</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>分类</string>
				<key>pushToVC</key>
				<string></string>
			</dict>
			<dict>
				<key>value</key>
				<string>妈妈</string>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>监护人</string>
				<key>pushToVC</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>value</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>全天</string>
				<key>pushToVC</key>
				<string></string>
			</dict>
			<dict>
				<key>value</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>开始</string>
				<key>pushToVC</key>
				<string></string>
			</dict>
			<dict>
				<key>value</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
				<key>title</key>
				<string>结束</string>
				<key>pushToVC</key>
				<string></string>
			</dict>
			<dict>
				<key>value</key>
				<string>永不</string>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>重复</string>
				<key>pushToVC</key>
				<string></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>value</key>
				<string>无</string>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>提醒</string>
				<key>pushToVC</key>
				<string></string>
			</dict>
		</array>
	</array>
</dict>
</plist>
